/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-top: 60px;
  margin-bottom: 20px;
  background-color: #f5f2e8;
  font-family: Helvetica Neue, Helvetica, sans-serif;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;
  background-color: #000;
  font-family: "Montserrat", Helvetica Neue, Helvetica, sans-serif;
  font-size: 12px;
}

.col-md-6{
  padding: 0 5px 0 5px;
}

.navbar-brand{
  font-family: "Montserrat", Helvetica Neue, Helvetica, sans-serif;
  font-weight: bolder; 
}

.map {height: 360px; border:1px solid #999; }

#beertweets
{
    list-style: none;
    margin: 5px 0 0 0;
    padding: 0;
}

.profile
{
  border:1px solid #999;
}

#beertweets li
{
    margin: 10px;
    padding-bottom: 5px;
    border-bottom: 1px;
}

#beertweets li.left .beertweets-body
{
    margin-left: 60px;
}

#beertweets li.right .beertweets-body
{
    margin-right: 60px;
}


#beertweets li .beertweets-body p
{
    margin: 0;
    color: #777777;
}

#beertweets .glyphicon
{
    margin-right: 5px;
}
